name: Build OpenWRT package (release)

on:
  push:
    tags:
      - "v*"

jobs:
  build-packages:
    strategy:
      matrix:
        include:
          # 24.10
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'x86_64'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a53'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'aarch64_cortex-a72'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a7'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a7_neon-vfpv4'
          - openwrt_version: '24.10'
            openwrt_build_version: '24.10.4'
            arch: 'arm_cortex-a9'

          # 23.05
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'x86_64'
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'aarch64_cortex-a53'
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'aarch64_cortex-a72'
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'arm_cortex-a7'
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'arm_cortex-a7_neon-vfpv4'
          - openwrt_version: '23.05'
            openwrt_build_version: '23.05.6'
            arch: 'arm_cortex-a9'
      fail-fast: false

    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-build.yml@main
    with:
      package_name: 'reaction'
      sdk_packages: 'reaction'
      artifacts_patterns: 'reaction*.ipk'
      openwrt_version: ${{ matrix.openwrt_version }}
      openwrt_build_version: ${{ matrix.openwrt_build_version }}
      arch: ${{ matrix.arch }}
      free_disk_space: true
      verbose: false

  create-release:
    needs: build-packages
    permissions:
      contents: write
    uses: Zerogiven/gh-openwrt-package-build-workflows/.github/workflows/reusable-release.yml@main
    with:
      artifact_pattern: 'reaction-*'
      release_file_pattern: '*.ipk'
      tag_name: ${{ github.ref_name }}
    secrets:
      RELEASE_TOKEN: ${{ secrets.OWRT_PACKAGE_RELEASE_TOKEN }}